header {
    /*Estilo de Cabecera*/
    width: 100%;
    border: solid black;
    box-shadow: 5px 5px 15px rgb(45, 45, 45);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mi-clase-personalizada {
    /*Estilo de los botones*/
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

button span {
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

body {
    /*Estilo del cuerpo del sitio*/
    background: linear-gradient(to right, #4286f4, #303f61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    /*Estilo del menu del sitio*/
    width: 100%;
    flex-wrap: wrap;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    background-color: #507da5 !important;
}

main {
    /*Estilo de la información más importante*/
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    top: 50%;
}

.mb-3 {
    width: 50%;
}

.Información {
    /*Estilo del div de la información de contacto*/
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


table {
    /*Estilo de la tabla*/
    display: flex;
    position: relative;
    width: 80%;
}

.Banners {
    /*Estilo de los banners*/
    display: flex;
    flex: 1;
    padding-top: 10px;
    width: 50%;
    height: 100px;
    align-items: center;
    flex-direction: column;
}

a {
    /*Estilo de los links*/
    display: flex;
    flex: 1;
    width: 40px;
    align-items: center;
    flex-direction: column;
}

.carousel-container {
    /*Estilo del carrusel*/
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-slide {
    /*Estilo del movimiento del carrusel*/
    display: flex;
    transition: transform 0.3s ease-in-out;
    animation: carouselAnimation 6s infinite;
}

.carousel-slide img {
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 300px;
}

.carousel-slide img:hover {
    transform: scale(1.1);
}

@keyframes carouselAnimation {

    0%,
    100% {
        transform: translateX(0);
    }

    16.666%,
    33.333% {
        transform: translateX(-100%);
    }

    50%,
    66.666% {
        transform: translateX(-200%);
    }

    83.333% {
        transform: translateX(-300%);
    }
}


.contenedor2 {
    /*Animación y transformación del logo del sitio*/
    transition: transform 0.5s ease;
    animation-duration: 2s;
}

.contenedor2:hover {
    transform: scale(1.2) rotate(5deg);
    animation-duration: 2s;
}

.contenedor2 {
    /*Estilo del logo del sitio*/
    flex: 2;
    margin: 15px;
    padding: 10px;
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

a:hover {
    /*Estilos de los links*/
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a {
    background-color: rgb(13 110 253 / 52%) !important;
    text-decoration: none;
}