.contenedor {
    box-shadow: 5px 5px 15px rgb(45, 45, 45);
}

header{/*Estilo de Cabecera*/
    flex-wrap: wrap;
    width: 99%;
    border: solid black;
    box-shadow: 5px 5px 15px rgb(45, 45, 45);
    background-color: rgb(181, 91, 58);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Ysabeau SC', sans-serif;
}

body{/*Estilo del cuerpo del sitio*/
    background-color: bisque;
    font-family: 'Dancing Script', cursive;
}

.Banners{/*Estilo de los banners*/
    flex: 1;
    min-width: 300px;
    width: 20%;
    height: 100px;
    justify-content: initial;
    
}

.Banners img{/*Estilo de las imagenes de los Banners*/
    min-width: 150px;
    margin-bottom: 0px;
    display: flex;
    width: 160px;
    height: 130px;
    background-color: black;
    justify-content: initial;
    border-radius: 70%/60%;
    float: inline-start;
}

.contenedor2{/*Estilo del logo del sitio*/
    flex: 2;
    min-width: 300px;
    padding: 25px;
    background-color: rgb(181, 91, 58);
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

nav{/*Estilo del menu del sitio*/
    padding: 2px;
    background-color: tan ;
    width: 23%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}