header{/*Estilo de Cabecera*/
    width: 100%;
    border: solid black;
    box-shadow: 5px 5px 15px rgb(45, 45, 45);
    background-color: rgb(181, 91, 58);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{/*Estilo del cuerpo del sitio*/
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{/*Estilo del menu del sitio*/
    width: 100%;
    flex-wrap: wrap;
    padding: 2px;
    background-color: tan ;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{/*Estilo de la información más importante*/
    width: 80%;
    position: relative;
    top: 50%;
    background-color: tan ;
}

table{/*Estilo de la tabla*/
    display: flex;
    background-color: burlywood;
    position: relative;
    width: 80%;
}

.Formulario1{/*Estilo del formulario*/
background-color: wheat;
border: solid black;
box-shadow: 5px 5px 15px rgb(45, 45, 45);
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

label{
    border: solid black;
    box-shadow: 5px 5px 15px rgb(45, 45, 45);
}

span{
    background-color: wheat;
    border: none
}

input[type="text"] {
    background-color: wheat;
    border: solid black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.Banners{/*Estilo de los banners*/
    display: flex;
    flex: 1;
    width: 100%;
    height: 100px;
    justify-content: initial;
    flex-direction: column;
}

.Banners img{/*Estilo de las imagenes de los Banners*/
    min-width: 150px;
    display: flex;
    width: 160px;
    height: 130px;
    background-color: black;
    justify-content: initial;
    flex-direction: column;
    border-radius: 70%/60%;
    float: inline-start;
    transition: transform 0.5s ease;
    animation-duration: 2s;
    flex-direction: column;
}
.Banners img:hover {
    transform: scale(1.2) rotate(5deg);
    animation-duration: 2s;
  }

.contenedor2 {/*Animación y transformación del logo del sitio*/
    transition: transform 0.5s ease;
    animation-duration: 2s;
  }
  
  .contenedor2:hover {
    transform: scale(1.2) rotate(5deg);
    animation-duration: 2s;
  }   

.contenedor2{/*Estilo del logo del sitio*/
    flex: 2;
    padding: 10px;
    background-color: rgb(181, 91, 58);
    margin-bottom: 0px;
    width: 100px;
    display: flex;
    height: 100px;
    justify-content: center;
}

a:hover {/*Estilos de los links*/
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

  a {
    color: rgb(0, 17, 255);
    text-decoration: none;
  }
