.Banners img{/*Estilo de las imagenes de los Banners*/
    display: flex;
    background-color: black;
    flex-direction: column;
    border-radius: 70%/60%;
    float: inline-start;
    transition: transform 0.5s ease;
}
.Banners img:hover {
    transform: scale(1.2) rotate(5deg);
  }