.div.información { 
    /*Estilo del div de la información de contacto*/
    width: 25%;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}